/* links.module.css */
.links {
  display: flex;
  align-items: center;
}

.navLink {
  color: white;
  margin-right: 1rem;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navLink:hover,
.navLink.active {
  color: #0d0c22; /* Highlight color for active links */
}

.navDropdown {
  background-color: #0d0c22; /* Background color for the dropdown button */
}

.navDropdownToggle::after {
  display: none; /* Hide the caret icon */
}

.navDropdownItem {
  color: white; /* Text color for dropdown items */
}

.navDropdownItem:hover {
  background-color: #1a1a2e; /* Background color on hover */
}

.activeDropdownItem {
  background-color: #1a1a2e; /* Highlight color for active dropdown items */
}
