/* links.module.css */
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: white;
  }

  .nav-Dropdown {
    color: white;
  }

  .nav-Dropdown .active {
    color: white;
    text-align: center;
    background-color: var(--bg);
  }

.logout {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
