.hero {
  width: 100%;
  padding: 80px 20px;
  background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.85), rgba(85, 85, 85, 0.85)),
    url('../../../../../../public/images/background.png'); /* adjust path as needed */
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 30px;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.imagewrapper {
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem; /* Aspect ratio 400x600 => 150% (height/width * 100) */
    overflow: hidden; /* Hide overflow to maintain the aspect ratio */
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
  }

  .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
  }

  .authButtonsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .authButtons {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Adjust the gap as needed */
    margin: 1rem;
  }

  .authButtonsButton {
    color: white;
    background-color: var(--bg);
    font-size: 1.3rem;
    border-radius: 5px;
    padding: .5rem;
    border: 2px solid white;
  }
  
  @media (max-width: 992px) {
    .authButtons {
      flex-direction: column;
      align-items: center;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    .custom-col {
      justify-content: center;
    }
  }

  @media (max-width: 767px) {
    .custom-col {
      justify-content: center;
    }
}