.imageWrapper {
  width: 100%;
  height: auto;
}

.imageWrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

  @media (min-width: 768px) and (max-width: 1024px) {
    .custom-col {
      justify-content: center;
    }
  }

  @media (max-width: 767px) {
    .custom-col {
      justify-content: center;
    }
}